<div class="container" style="heght: 100vh; width:80vw;">
  <section class="user_info" style="margin-top: 10%;">
    <div class="user_info_contents" style="margin-top: 5%; display: flex;">
        <%= gravatar_for @user %>
      <div style="padding-left: 100px; margin-top:0; padding-bottom: 10px;">
        <h1 style="font-size: 60px;"><%= @user.name %></h1>
        <h2 class="user_class" style="font-size: 30px;">
          <% if @user.answers.count >= 1 %>知識人<% end %>
          <% if @user.answers.count >= 5 %>救世主<% end %>
        </h2>
        <p style="font-size: 20; padding-bottom: 10px;">
          回答数：<%= @user.answers.count %>
        </p>
      </div>
    </div>
  </section>

  <section class="history" style="height: 100%; margin-top: 10vh; display: flex; justify-content: space-around;">
    <div class="user_answer" style="margin-right: 10px; margin-left: 10px;">
      <h2>今までに回答した質問</h2>
      <div class="user_answers_list" style="display: flex flex-direction: column;">
        <% @answers.each do |answer| %>
          <div class="answers_answer" style="text-align: center; font-size">
              <span class="fa fa-heart col-xs-3"style="color: rgb(223, 86, 86);"></span>
                <%= answer.content %>
            </div>
        <% end %>
      </div>
    </div>


    <div class="user_question" style="margin-right: 10px; margin-left: 10px;">
      <h2>今までにした質問</h2>
        <div class="user_answers_list" style="display: flex flex-direction: column;">
          <% @questions.each do |question| %>
            <div class="questions_question" style="margin-top: 15px;">
              <span class="fa fa-heart col-xs-3"style="color: rgb(223, 86, 86);"></span>
                <%= question.title %>
            </div>
          <% end %>
        </div>
    </div>


  </section>
</div>
